body {
  display: flex;
  background: linear-gradient(to right, #39a2e7, #186fda); 
  background-size: cover;
  background-attachment: fixed;
  color: white;
  border-radius: 12px;
  margin: 20px auto;
  align-items: center;
  padding-top: 150px;
  justify-content: center;
}


.login-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


  .login-box {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .login-box h2 {
    font-weight: bold;
  }
  
  .login-box a {
    color: rgb(3, 42, 106);
  }

  .login-box .form-control {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 12px;
    border-radius: 30px;
    padding-left: 45px;
  }
  .input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}


  .login-box .btn {
    background: #2c81ba;
    border: none;
    border-radius: 30px;
    height: 50px;
  }
  
  .login-box .btn:hover {
    background: #043a7b;
  }

  .password-requirements {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin-top: 5px;
}

.password-requirements li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}
